<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
				<p class="about-blurb__icons">
    <a rel="nofollow" href="http://github.com/jendmurphy/"><i class="icon-github"></i></a>
    <a rel="nofollow" href="http://twitter.com/jendmurphy/"><i class="icon-twitter"></i></a>
    <a rel="nofollow" href="http://facebook.com/jendmurphy/"><i class="icon-twitter"></i></a>
    <a rel="nofollow" href="mailto:jennifer.murphy@postgrad.manchester.ac.uk"><i class="icon-mail"></i></a>
  </p>
				
				
			</footer>
		</body>
	</html>
